
@{
    ViewBag.Title = "CreateAdmin";
    ViewBag.Controller = "Admin";
    ViewBag.Action = "CreateAdmin";
}

<h2>CreateAdmin</h2>

@Html.Partial("_RegisterPartial")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}