
@{
    ViewBag.Title = "CreateAdmin";
    ViewBag.Controller = "Admin";
    ViewBag.Action = "CreateAdmin";
}

<h2>CreateAdmin</h2>
@*Esta cadena esta definida en RegistroController CreateAutorAction*@
@if (ViewBag.msj == "nk}*v%7t?P764hgPgqqvq:T,-:{Hc")
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Registro de Administrador</h4>
                </div>
                <div class="modal-body">
                    <p>Administrador agregado correctamente.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                </div>
            </div>

        </div>
    </div>
}


@Html.Partial("_RegisterPartial")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (ViewBag.msj == "nk}*v%7t?P764hgPgqqvq:T,-:{Hc")
    {
        <script>
            $('#myModal').modal();
        </script>
    }
}