
@{
    ViewBag.Title = "CreateLibrarian";
    ViewBag.Controller = "Admin";
    ViewBag.Action = "CreateLibrarian";
}

<h2>CreateLibrarian</h2>

@Html.Partial("_RegisterPartial")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
